.custom-loader-cont{
  display: grid;
  place-content: center;
  place-items: center;
  z-index: 300;
  position: fixed; 
  top: 22rem;
  left: 25rem ;
  right: 25rem ;
  color: white; 
  gap: 2rem; 
  @media screen and (max-width: 1024px) {
    top: 25rem;
    left : 8rem;
    right : 8rem;
    
  }
  @media screen and (max-width: 720px) {
    top: 35rem;
    left : 3rem;
    right : 3rem;
    
  }
}

/* .custom-loader{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    --c: radial-gradient(farthest-side, #766DF4 92%, #0000);
    background: 
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0 50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s7 1s infinite;  
    @media screen and (max-width: 1024px) {
      margin-top: 20rem;     
    }
}
@keyframes s7 {to {transform: rotate(.5turn)}}
 */
 
/* Second Loader */
.custom-loader{
  width : 12px;
  height: 12px;
  background: #766DF4;
  border-radius: 50%;
  box-shadow: 12px 0 #766DF4, -24px 0 #755DF4;
  animation: d6 1s infinite linear alternate;
}
@keyframes d6 {
   50% {box-shadow: 12px 0 #766DF4, -12px 0 #766DF4}
   100% {box-shadow: 24px 0 #766DF4, -12px 0 #766DF4}
}